#header nav ul li {
    width: 180px;
}

#header nav ul li a {
    padding: 0;
}

a.icon {
    border-bottom: none;
}

article#contact table thead {
    display: none;
}

a.img {
	float: right;
	border-bottom: none;
}

a.img.img-left {
	float: left;
}

div.clear {
	clear: both;
}
